#numpad-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
}

#numpad {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#clear {
  grid-column: 1 / span 2;
}

#divide {
  grid-column: 4;
}

.numpad-buttons {
  margin: 2px;
  background-color: aqua;
  border: 2px outset rgb(138, 138, 138);
  border-radius: 5px;
}
