#numpad-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
}

#numpad {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#clear {
  grid-column: 1 / span 2;
}

#divide {
  grid-column: 4;
}

.numpad-buttons {
  margin: 2px;
  background-color: #eff6ee;
  border: 2px outset #f02d3a;
  border-radius: 5px;
  transition: 0.5s ease;
}

.numpad-buttons:hover {
  background-color: #f02d3a;
  border: 2px outset #eff6ee;
}
